.homePage input {
    background-color: #3A1923;
    color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    padding: 10px 15px;
    border-radius: 15px;
    height: 20px;
    transition: 0.2s ease;
}
  
.homePage input:focus {
    background-color: #4A1A23;
}
  
.homePage input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
  
.searchBarButton {
    background-color: #5B283A;
    color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s ease;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.searchBarButton:hover {
    background-color: #6B2A3A;
}
  
.searchBarButton:active {
    background-color: #7B2B3A;
}
  
.searchBarButton:focus {
    background-color: #6B2A3A;
}
  
.searchBarButton:disabled {
    background-color: #3A1923;
    cursor: not-allowed;
}
  
.searchBarButton .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.searchBarButton:disabled {color: rgba(255, 255, 255, 0.5);}

.searchBarButton:disabled::after {content: "ing..";}

.homePage {
    padding: 25px;
    box-sizing: border-box;

    display: flex; 
}

.homePage .section {
    height: 100%;
    width: 50%;
    flex: 1;
    flex-shrink: 0;
}

.homePage .section .sectionContent {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.homePage .section h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    font-weight: 600;
}

.searchBar {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.searchBar input {
    flex: 5;
}

.searchBar button {
    flex: 1;
    font-size: 1em;
}

.searchSongList {
    display: flex;
    flex-direction: column;
}

.songItem {
    padding: 15px 10px;
    background-color: #18040A;
    display: flex;
    justify-content: space-between;
}

.songItem:nth-child(2n) {
    background-color: #22060E;
}

.songItem .songItemButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    transition: 0.2s ease;

    color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.songItem .songItemButton .icon {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0.2s ease;
}

.songItem .songItemButton:hover {
    background-color: transparent;
    transition: 0.2s ease;
}

.songItem .songItemButton:hover .icon {
    opacity: 1;
}

.searchSongList .noSongsMsg {
    text-align: center;
    padding: 80px 20px;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.3;
}

.searchSongList .noSongsMsg p:first-child {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 200;
}

/* Recently Played Section */
.recentlyPlayed .sectionContent .subtitle {
    padding: 10px 0;
    font-weight: 100;
    font-size: 1em;
    opacity: 0.9;
}

/* refinements */
.refinements {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    overflow: auto;
    font-size: 0.9em;
}

.refinements .refinementsLabel {
    font-weight: 100;
    font-size: 1em;
    opacity: 0.6;
    padding: 5px 0;
}

.refinements .refinementsList {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    /* height to 1 row */
    max-height: 30px;
    overflow: hidden;
}

.refinements .refinementsList .refinement {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #3A1923;
    cursor: pointer;
    opacity: 0.5;
    flex-shrink: 0;
    transition: 0.2s ease;
}

.refinements .refinementsList .refinement:hover {
    background-color: #64202c;
    opacity: 1;
}