:root {
    /* size */
    --playlist-size: 80px;
}

.playlist {
    display: flex;
    justify-content: left;
    gap: 20px;
    width: 100%;
}

.playlist img {
    width: var(--playlist-size);
    height: var(--playlist-size);
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.playlist .playlistInfo {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 10px 0;
    box-sizing: border-box;
}

.playlist .playlistInfo h3 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.playlist .playlistInfo p {
    opacity: 0.7;
    font-size: 0.9rem;
    font-weight: 100;
}