:root {
    /* size */
    --song-size: 80px;
}

.song {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: calc(100% - 60px);
}

.song .songImage {
    width: var(--song-size);
    height: var(--song-size);
    border-radius: 20px;
    overflow: hidden;
    background-color: #D19EA7;
    flex-shrink: 0;
    position: relative;
    transition: 0.2s ease-in-out;
}

.song .songImage .songDuration {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #803C54;
    opacity: 0.5;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    border-top-left-radius: 20px;
    z-index: 100;
}

.song .songInfo {
    height: var(--song-size);
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
}

.song .songInfo div {
    margin: 0;
}

.song .songInfo .songArtist {
    color: white;
    opacity: 0.6;
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}

.song .songInfo .songTitle {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.song .songInfo .message {
    margin-top: auto;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    width: 50%;
    opacity: 0.6;
}

/* Playable song */
.song.playable .songImage {
    cursor: pointer;
}

/* Display play button over songImage */
.song.playable .songImage .songPlayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--song-size) * 0.7);
    height: calc(var(--song-size) * 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(109, 225, 105);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.song.playable .songImage:hover img {
    filter: brightness(0.8);
}

.song.playable .songImage:hover .songPlayIcon {
    opacity: 1;
}