:root {
    /* size */
    --song-size: 80px;
}

.song {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: calc(100% - 60px);
}

.song .songImage {
    width: var(--song-size);
    height: var(--song-size);
    border-radius: 20px;
    overflow: hidden;
    background-color: #D19EA7;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.song .songImage .songDuration {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #65434f;
    opacity: 0.8;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    border-top-left-radius: 20px;
    z-index: 100;
}

.song .songInfo {
    height: var(--song-size);
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
}

.song .songInfo div {
    margin: 0;
}

.song .songInfo .songArtist {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}

.song .songInfo .songTitle {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.song .songInfo .songTitle.playing {
    color: #D19EA7;
}

.song .songInfo .message {
    margin-top: auto;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    width: 100%;
    opacity: 0.6;
}

/* Playable song */
.song.playable .songImage {
    cursor: pointer;
}

/* Display play button over songImage */
.song.playable .songImage .songPlayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--song-size) * 0.7);
    height: calc(var(--song-size) * 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(109, 225, 105);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.song.playable .songImage:hover img {
    filter: brightness(0.8);
}

.song.playable .songImage:hover .songPlayIcon {
    opacity: 1;
}

.song.official .songInfo .songArtist {
    font-weight: 400;
}

.officialSong {
    background-color: #5b283a8d;
    color: rgba(255, 255, 255, 0.516);
    border-radius: 10px;
    padding: 0 5px;
    margin: 0 5px;
}

/* playing states */
.song .songInfo.playing div {
    text-shadow: 0 0 2px white;
}

.song .songInfo.not-playing {
    filter: brightness(0.5);
}